
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.contact-box{
    width: 100%;
    min-height: 90vh;
    padding: 0.5rem;
    border-radius: 1rem;
   
}
.contact-der{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   border-radius: 1rem;
   height: 100%;
    
}

.violeta{
    background-color: #e25cd295;
    width: 10rem;
    height: 10rem;
    border-radius: 20rem;
    position: absolute;
    right: 3rem;
    top: 1rem;
}

.rosado{

    background-color: #fffb0095;
    width: 10rem;
    height: 10rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 20rem;

}

.contact-izq.col-xl-5 {
    background-color: #530b7a;
    border-radius: 1rem;
}

.contact-izq-text{
    width: 100%;
    height: 30%;
}
.contact-izq-contacto{
    width: 100%;
    height: 30%;
}

.contact-izq-redes{
    align-self: end;
    width: 100%;
    height: 40%;
}

.contact-izq-contacto a{
    text-decoration: none;
    color: white;
}

.contact-izq-contacto i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.contact-izq-redes i{

    font-size: 1.3rem;
    margin: 1rem;
}






/* From uiverse.io by @G4b413l */
.group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 17.4rem;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  
   }

   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
  form{
    min-height: 90vh;
  }
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   textarea{
    width: 100%;
    height: 20vh;
    
   }
   .nombre .mail-phone{
    height: 20%!important;
    width: 40%;
    justify-content: center!important;
   }
   .text-area{
    height: 60%;
   }

   .w-50 {
   
    width: 45%!important;
}
    /* nav */
    div#navbarNavDropdown {
        justify-content: end;
    }
    #nav1{
        background-color: #3E2093!important;
        width: 100%;
        letter-spacing: 3px;
      }
      
      #nav1 a:hover{
        color:#FF836A !important; 
      
      } 
      .nav-link{
        color: white;
       /*  color: #FF836A!important; */
        font-size: 1.4rem!important;
      }

      a{
        text-decoration: none;
    }
    .img-logo{
    
        width: 7rem;
    
    }

    /*   */


    /*--------------------- FOOTER--------------------- */


footer{
    background-color: #1e3a8a;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center
  }
  
  .footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    margin-top: 20px;
  }
  
  .footer-top-left h4{
    font-size: 18px;
  }
  
  .footer-top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .services{
    display:none
  }
  
  .input-footer{
    border: none;
    border-radius: 5px;
    width: 80%;
    background: rgb(221, 221, 221)
  }
  
  .input-label{
    text-align: center;
    background-color:#4f8ddb;
    border-radius: 5px;
    margin-top:10px;
    width: 50%;
    color: black;
    padding: 8px;
    border: none;
  }
  
  
  .footer-about{
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .footer-about-title{
    display: flex;
    justify-content:center;
    margin-top: 1rem;
    color: gray;
  }
  body{
    background-color: #0b063d;
  }

  .contador-carrito{
    display: absolute;
  }
  .footer-about-description {
    width: 90%;
    color: gray;
    text-align: center;
  }
  .footer-about-description p{
    font-weight: lighter;
  }
  
  .footer-contact-title{
    display: flex;
    justify-content:center;
    color: gray;
    margin-top: 40px;
  }
  .footer-contact-title h5{
    font-family: sans-serif;
  }
  
  .ancors-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }
  .ancors-contact a{
    color: gray;
    padding: 8px 0;
    width: 100%;
  /*   text-align: center; */
  
  }
  
  .icon-ubi{
    width: 15px;
    margin-right: 10px;
  }
  .icon-mail{
    width: 21px;
    margin-right: 10px;
  }
  
  .tel{
    width: 17px;
    margin-right: 10px;
  }
  
  .footer-redes{
    padding-top:10px;
    padding-bottom: 20px;
    overflow-y: hidden;
  }
  
  .footer-redes a{
    padding:10px;
  
  }
  
  .facebook{
    width: 35px;
  }
  
  .ig{
    width: 35px;
  }
  
  .wsp{
    width: 35px;
  }
  
  
  .copyright{
    background-color: #4f8ddb;
    color: #f4f4f4;
    font-size: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 13px;
  }
  
  /* ---------------------------------------------- */

   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

@media (max-width:770px){
    .input{
        width: 15rem;
    }
    .footer-top {
      flex-direction:column !important;
    }
    .footer-about {
      display: none !important;
     
  }
  .footer-top-left h4 {
       
    text-align: center !important;
}
  .footer-medium {
  
    justify-content: center !important;
   
  }
  .footer-redes {

    display: flex;
    justify-content: center !important;
  }
    
}
@media (max-width: 995px){

    .contact-izq-redes.d-flex.align-items-end.p-3 {
        justify-content: center;
        height: 20%;
    }
   
}
@media (max-width: 580px){

    .nombre,.mail-phone{
        flex-direction: column;
    }
    .input{
        width: 25rem;
    }
    .footer-top {
      flex-direction:column !important;
    }
    .footer-about {
      display: none !important;
     
  }
  .footer-top-left h4 {
       
    text-align: center !important;
}
  .footer-medium {
  
    justify-content: center !important;
   
  }
  .footer-redes {

    display: flex;
    justify-content: center !important;
  }
}

@media (max-width: 395px){

    .nombre,.mail-phone{
        flex-direction: column;
    }
    .input{
        width: 22rem;
    }
    .footer-top-left h4 {
       
        text-align: center !important;
    }
    .contact-izq-redes{
     justify-content: center!important;
     height: 22%;
     
    }
    div.w-100{
        margin: 0!important;
       
    }

    .footer-top {
      flex-direction:column !important;
    }
    .footer-about {
      display: none !important;
     
  }

  .footer-medium {
  
    justify-content: center !important;
   
  }
  .footer-redes {

    display: flex;
    justify-content: center !important;
  }
}

@media (max-width: 371px){

  
    .input{
        width: 17rem;
    }
   

    .contact-izq-redes.d-flex.align-items-end.p-3 {
        width: 100%;
        align-items: center!important;
    }
    
}


label{
    position: static;
    pointer-events: all;
}

.boton-enviar{
    background-color: #530b7a;
    color: white;
}
.boton-enviar:hover{
    background-color: #7813ae;
}
/* From uiverse.io */

footer {
  padding-top: 1rem;
}

.footer-top {
  color: #f4f4f4;
  flex-direction: unset;
  justify-content: space-between;
  width: 80%;
  border-bottom: 2px solid gray;
   padding-bottom: 13px;
}

.footer-top-left h4 {
  font-size: 25px;
}

.footer-top-right {
  display: flex;    
  flex-direction: unset;
  align-items:unset;
  width: unset;
}

.input-label {
  margin-top: 0;
  margin-left: 10px;
}

.footer-medium {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-about{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 2rem;
}

.footer-about-title{
  display: flex;
  justify-content: start;
  margin-top: 1rem;
  color: #f4f4f4;
  width: 100%;

}
.footer-about-title h5{
  font-family: sans-serif;
}
.footer-about-description {
  width: 100%;
  color: #f4f4f4;
  text-align: initial;

}
.footer-about-description p {
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.input-footer {
  padding-left: 1rem;
}

.footer-contact{
  padding-top: 10px;
  
}

.footer-redes-container a img:hover{
  transform: scale(1.06);
}
.footer-contact-title {

  color: #f4f4f4;
}

.footer-redes-container {
  width: 80%;
}

.copyright {

  font-size: 14px;

  padding-top: 12px;
}


}

@media (min-width:1920px) {
.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 2rem;
}

.services-title{
  color: #f4f4f4;
  margin-top: 21px;
}

.services-title h5{
  font-family: sans-serif;
  font-size: 23px;
}


.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.footer-contact-title h5 {
  font-size: 23px;
} 

.services-ancors{
  display: flex;
  flex-direction: column;
}

.services-ancors a {
  color: #f4f4f4;
  padding: 6px;
}

.services-ancors a span{
color: white;
font-family: monospace;
}

.footer-about-title h5{
  font-size: 23px;
}
.footer-top-left h4 {
  font-size: 29px;
}
.input-footer {
  padding-left: 1rem;
  width: 23rem;
}
}
@media (min-width:1920px) {
  .services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 2rem;
  }
  
  .services-title{
    color: #f4f4f4;
    margin-top: 21px;
  }
  
  .services-title h5{
    font-family: sans-serif;
    font-size: 23px;
  }
  
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  .footer-contact-title h5 {
    font-size: 23px;
  } 
  
  .services-ancors{
    display: flex;
    flex-direction: column;
  }
  
  .services-ancors a {
    color: #f4f4f4;
    padding: 6px;
  }
  
  .services-ancors a span{
  color: white;
  font-family: monospace;
  }
  
  .footer-about-title h5{
    font-size: 23px;
  }
  .footer-top-left h4 {
    font-size: 29px;
  }
  .input-footer {
    padding-left: 1rem;
    width: 23rem;
  }
}