body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FF836A;
    font-family: 'Quicksand', sans-serif;
}

#nav1{
  
    background-color: #FF836A!important;
}
/* video:hover {
    display: none;
} */
video{
    object-fit: contain;
    object-position: 0 100%;
    margin: 0;
    
}

#navs{
    margin-top: 0%;
    background-color: #FF836A;
  
}

.video{
    position: relative;
    
    

}

ul{
    letter-spacing: 2px;
}

h1{
    color: #FF836A;
    position: absolute;
    top: 48%;
    left: 10%;
    font-weight: bolder;
    font-size: 10rem;
}

main{
    height: 100vh;
    
}
strong{
    color: #3E2093;
}