body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FF836A;
    font-family: 'Quicksand', sans-serif;
}

#nav1{
  
    background-color: #FF836A!important;
}

video{
    object-fit: none;
    object-position: 0 100%;
    margin: 0;
}

#navs{
    margin-top: 0%;
    background-color: #FF836A;
  
}